window{
  background-color: rgb(190, 237, 255);
}

#label1 {
  color: #000;
}

.button_01 {
  background: #fff;
  box-shadow: 0px 0px 4px 0px #797979;
  border: 1px #eee solid;
  border-radius: 6px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
  color: #000;
}

.button_01:hover {
  background: rgb(235, 235, 235);
}

.button_01:active {
  background: rgb(202, 202, 202);
}

#label1 {
  font-size: 1.8rem;
  margin: 10px;
  padding: 32px;
}


.txt_box {
  border-radius: 20px;
  margin: 15px;
  padding: 5px;
}