window{
  background-color: rgb(190, 237, 255);
}


button {
  background: #fff;
  box-shadow: 0px 0px 4px 0px #797979;
  border: 1px #eee solid;
  border-radius: 6px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;

}

button:hover {
  background: rgb(235, 235, 235);
}

button:active {
  background: rgb(202, 202, 202);
}

#label1 {
  font-size: 1.8rem;
  margin: 10px;
  padding: 32px;
}